<!-- Sidebar/menu -->
<nav id="mySidebar">
    <a class="mySidebarValue">CLOSE</a>
    <a class="mySidebarValue" href="/write">WRITE</a>
    <a class="mySidebarValue" href="#about">ABOUT ME</a>
    <a class="mySidebarValue" href="#contact"> CONTACT</a>
</nav>

<!-- Top menu on small screens -->
<header>
    <span id="layoutTitle">Jun Mat</span>
    <a id="sideMenu">☰</a>
</header>

<script type="text/javascript" src="/javascripts/module/navbar.js" /></script>