<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">
  <div class="w3-row w3-grayscale-min">
    <div class="w3-quarter">
      <img src="" style="width:100%" onclick="onClick(this)" alt="Canoeing again">
    </div>
    <div class="w3-quarter">
      <img src="" style="width:100%" onclick="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
    </div>
    <div class="w3-quarter">
      <img src="" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>
    <div class="w3-quarter">
      <img src="" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="/javascripts/main.js" /></script> -->
